<!-- app/views/shared/_welcome_card.html.erb -->
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Welcome, <%= current_user.email %>!</h3>
  </div>
  <!-- /.card-header -->
  <!--<div class="card-body">-->
    <!-- Add additional content if needed -->
  <!--</div>-->
  <!-- /.card-body -->
</div>
