<h1>New leader</h1>

<%= render "form", leader: @leader %>

<br>

<div>
  <%= link_to leaders_path, class: 'btn btn-primary btn-sm' do %>
    <i class="fas fa-rectangle-list"></i> Back to list
  <% end %>
</div>