<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    Anything you want
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; <%= Time.zone.now.strftime('%Y') %> - <b>Andrian Rizki Effendi</b></strong> | <strong>Powered by <a href="https://adminlte.io">AdminLTE.io</a></strong>. All rights reserved.
</footer>