<h1>Editing declare</h1>

<%= render "form", declare: @declare %>

<br>

<div>
  <%= link_to declares_path, class: 'btn btn-primary btn-sm' do %>
    <i class="fas fa-rectangle-list"></i> Back to list
  <% end %>
  <%= link_to declare_path(@declare), class: 'btn btn-secondary btn-sm' do %>
    <i class="fas fa-chevron-left"></i> Back to detail
  <% end %>
  <%#= link_to "Show this declare", @declare %>
  <%#= link_to "Back to memo categories", declares_path %>
</div>
