<h1>Editing declare category</h1>

<%= render "form", declare_category: @declare_category %>

<br>

<div>
  <%= link_to "Show this declare category", @declare_category %> |
  <%= link_to "Back to declare categories", declare_categories_path %>
</div>
