<h1>New declare category</h1>

<%= render "form", declare_category: @declare_category %>

<br>

<div>
  <%= link_to declare_categories_path, class: 'btn btn-primary btn-sm' do %>
    <i class="fas fa-rectangle-list"></i> Back to list
  <% end %>
</div>
