<h1>Editing memo category</h1>

<%= render "form", memo_category: @memo_category %>

<br>

<div>
  <%= link_to memo_categories_path, class: 'btn btn-primary btn-sm' do %>
    <i class="fas fa-rectangle-list"></i> Back to list
  <% end %>
  <%= link_to memo_category_path(@memo_category), class: 'btn btn-secondary btn-sm' do %>
    <i class="fas fa-chevron-left"></i> Back to detail
  <% end %>
  <%#= link_to "Show this memo category", @memo_category %>
  <%#= link_to "Back to memo categories", memo_categories_path %>
</div>
