<h1>Editing memo category</h1>

<%= render "form", memo_category: @memo_category %>

<br>

<div>
  <%= link_to "Show this memo category", @memo_category %> |
  <%= link_to "Back to memo categories", memo_categories_path %>
</div>
