<h1>New memo category</h1>

<%= render "form", memo_category: @memo_category %>

<br>

<div>
  <%= link_to memo_categories_path, class: 'btn btn-primary btn-sm' do %>
    <i class="fas fa-rectangle-list"></i> Back to list
  <% end %>
</div>
