<h1>New patner</h1>

<%= render "form", patner: @patner %>

<br>

<div>
  <%= link_to patners_path, class: 'btn btn-primary btn-sm' do %>
    <i class="fas fa-rectangle-list"></i> Back to list
  <% end %>
</div>
