<h1>New memo</h1>

<%= render "form", memo: @memo %>

<br>

<div>
  <%= link_to memos_path, class: 'btn btn-primary btn-sm' do %>
    <i class="fas fa-rectangle-list"></i> Back to list
  <% end %>
</div>
